.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$blue-color: #0d0d3a;
$orange-color: #d0522f;
$white-color: #ffffff;

.bgblue {
  background-color: $blue-color;
}

.bgOrange {
  background-color: $orange-color;
}
.bgWhite {
  background-color: $white-color;
}

.colorBlue {
  color: $blue-color;
}

.colorOrange {
  color: $orange-color;
}
.colorWhite {
  color: $white-color;
}
